.slider-basic {

	.slider-slides-wrap {

		.slider-slides {

			.slider-slide {

				.slide-image {
					position: absolute;
					top: 0;
					left: 0;
					width: 150px;
					height: 150px;
					z-index: 10;
				}

				.slide-title {
					position: absolute;
					top: 0;
					left: 0;
					width: 150px;
					z-index: 20;
					background-color: $color-transparent-black;
					color: white;
					padding: 0.5em;
				}
			}
		}
	}

	.slider-control {
		z-index: 50;
		width: 25px;
		height: 150px;
		font-size: 2em;
		text-align: center;

		&:hover {
			background-color: $color-transparent-tertiary;
		}

		&.slider-control-left {
			margin-left: -25px;
		}

		&.slider-control-right {
			margin-right: -25px;
		}
	}
}

// == Lightbox Popup ================

.popup-lightbox-slider {

	.slider-lightbox {
		width: 85%;
		height: 79px;

		.slider-slides-wrap {
			height: 75px;

			.slider-slides {

				.slider-slide {
					width: 100px;
					height: 75px;

					.bkg-image {
						width: 90px;
						height: 75px;
						background-color: $color-gray-l;
					}
				}
			}
		}

	    .slider-control {
			height: 75px;
	    }
	}

    .popup-data {
        background-color: $color-gray;
		border: 5px solid $color-tertiary;

		.popup-data-bkg {
			overflow: hidden;
			text-align: center;

			img {
				max-width: 95%;
				max-height: 95%;
				@include valign-center();
			}
		}

		.popup-content-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 0;

			.popup-content {
				position: absolute;
				width: 100%;
				bottom: 0;
				overflow-y: auto;
			}
		}

        .wrap-gallery {
            padding: 0.25em;
            //background-color: $color-gray-l;

            .slide {
                border: 1px solid $color-white;
                padding: 0 0;

                .bkg-image {
                    width: 198px;
                }
            }

        }
    }
}
