.pagination-basic {

	.info {
		display: inline-block;
		width: 29%;
	}

	.page-links {
		display: inline-block;
		width: 70%;
		text-align: right;
		margin-bottom: 0.5em;

/*		li {
			background-color: $color-tertiary;
			color: $color-tertiary-text;
			display: inline-block;
			list-style: none;
			margin: 0 0.25em;
			height: 2.1em;
			line-height: 2.1em;
			@include rounded( $size-small );

			span, a {
				color: $color-tertiary-text;
				padding: 0.5em 0.75em;
				text-decoration: none;
				@include rounded( $size-small );
			}
		}*/
		
		li, .page-link {
		border-radius: 10px;
		span, a {
			padding:0.6em;//changes
			&:hover {
				color: $color-btn-text-h;
				cursor: pointer;
			}
			
			.icon {
				padding-top: 0.2em;
			}
		}
	}

		.active a {
			background-color: $color-secondary;
			color: $color-secondary-text;
		}

		a:hover {
			background-color: $color-secondary;
			color: $color-secondary-text;
		}

		.disabled span {
			background-color: $color-gray;
			color: $color-white;
		}
	}

	.page-info {
		display: inline-block;
		width: 29%;
		text-align: right;
		line-height: 2.1em;
		margin-bottom: 0.5em;
	}

    @media only screen and ( max-width: $screen-mobile-large ) {

		.page-info, .page-links {
			width: 100%;
			//text-align: center;
		}
	}
}
.pagination-grid-default {
		
	& li {
		
		height: 35px !important;
		
	}
}

