// == Form Elements =================

input[type="text"], input[type="email"], input[type="password"], textarea, select, label {
	@include rounded( $size-medium );
	padding: 0.5em;
	line-height: 1.75em;
}

input[type="submit"], input[type="button"], button, .btn, .btn-icon {
	@include rounded( $size-medium );
	padding: 0.5em 0.75em;
	line-height: 1.75em;
}

.frm-icon-element {

	.cmti {
		@include rounded-left( $size-medium );
	}

	.icon {
		padding: 0.5em;
		line-height: 1.75em;
		@include rounded-left( $size-medium );
		@include border-right( 1px, solid, $color-shadow-inset );
	}
}

.form {

	.btn {
		vertical-align: middle;
	}

	.cmt-select-wrap {

		.cmt-select {

			.cmt-selected {
				padding: 0.5em;
				line-height: 1.616em;

				.s-icon {
					padding: 0.5em;
				}
			}

			.cmt-select-list li {
				padding: 0.5em;
			}
		}
	}

	.frm-icon-element {

		.cmti, .icon, .fa {
			margin-bottom: 0;
		}
	}
}
