/*#pre-loader-main {
	position: absolute;
	width: 100%;
	z-index: 10000000;

	.spinner {
	    display: block;
		width: 3em;
	    margin: 0 auto;
	}
}

.texture {

	&.texture-basic {
		background-image: url( '../images/basic/texture-default.png' );
	}
}*/
#pre-loader-main {
	position: absolute;
	width: 100%;
	z-index: 10000000;

	.spinner {
	    display: block;
		width: 3em;
	    margin: 0 auto;
	}
}

.cmti-info {
	background-color: white;
	color: $color-link;
	border: none;
}
