html, body {
	// Max Body
    width: 100%;
    height: 100%;
	// Collapsible Margin
    //padding-top: 1px;
   // margin-top: -1px;
}

.container-main {
	//padding-top: 80px !important;
	
	@include responsive-max( screen-tablet-large ) {
		//padding-top: 10px;
	}
	
	@include responsive-max( screen-tablet-large ) {
		//margin-top: 50px;
	}

	@include responsive-max( screen-tablet-small ) {
		//margin-top: 50px;
	}
}

.sidebar-main + .container-main {
	padding-left: 225px;
}

.sidebar-main-micro + .container-main {
	padding-left: 70px;

	@include responsive-max( screen-tablet-small ) {
		padding-left: 0;
	}
}

.set-container{
	
	.container-main {
		
		padding-left: 380px;
		padding-top: 115px;
		
		@include transit-padding( $transit-eio, $transit-time-large );
		@include responsive-max( screen-tablet-large ) {
			padding-left:50px;;
			margin-top:0;
			
		}
		@include responsive-max( screen-tablet-large ) { 
			padding-left:50px;
			padding-top:70px;
			
		}
	}
}


