.cmt-select-wrap {
	
	 select {
		display: none;
	}
	
	.cmt-select {
		position: relative;
            
			.cmt-selected {
				
				z-index: 4; 
					
				.s-icon {
					top: 8px;
					padding: 0.2em 1.2em ;
					color:$color-gray;
				}
				
				.s-text {
					padding: 0.4em 0.4em 0.4em 1em;
				}
			}
		
			.cmt-select-list {
			    border:1px solid $color-secondary;   
				z-index: 100002;
			li {
				padding: 0.6em 0.6em 0.6em 1em;
			}
			li:hover {
				color: $color-link;
				background-color: $color-primary;
			}
		}
	}
}

.select-private-page{
	
	.cmt-select-wrap{
		
		.cmt-select{
			
			.cmt-selected{
				
				.s-icon {
					
					&:hover{
						color: $color-btn;
					}
				}
				
				.s-text {
					padding: 0.4em 0.4em 0.3em 1em;

				}
			}
			
			.cmt-select-list {
				right: 0;
				
			}
		}
	}
}

