#profile-message{
	
	.box-basic{
		padding: 0 0 3em 0;
		
		.box-content-wrap{
			background-color:$color-primary;
			padding: 0.8rem 1rem;

			.box-header-wrap{
				padding: 0em 0em 1em 0em;
			}
		}	
	}
}

#profile-hover-effects{
	
	.box-basic{
		padding: 0;
		
		.box-content-wrap{
			@include transit-all( $transit-eio, $transit-time-medium );
		&:hover {
			@include rounded( $size-small );
			@include shadow( $size-default, $size-default, $size-medium, rgba( $color-black, $color-transparent-medium ) );
			
			}
		}
	}	
}

.box-basic-icon {
	
	.box-content-wrap {
		
		.box-header-wrap {

			.box-header {

				.box-header-icon {
					position: absolute;
					display: inline-block;
					top: 0.5rem;
					left: 0.5rem;
				}

				.box-header-title {
					padding-left: 1.5rem;
				}
			}
		}
	}
}

#box-login {
	
	.box-basic {
		border-radius: 8px;
		background-color: $color-white;
		padding:2rem;
		margin-top:-15px;
		
		.box-content-wrap {
			
			.box-header-wrap {
				
				.box-header {
						
					.box-header-title {
					
					}
				}
			}	
			
			.box-content{
				background-color: white;
			}
		}
	}
}

#box-feedback {
	
	.box-basic {
		border-radius: 8px;
		background-color: $color-white;
		padding:1em 2em;
		margin-top: 40px;
		
		.box-content-wrap {
			
			.box-header-wrap {
				
				.box-header {
						
					.box-header-title {
						font-size: 30px;
						border-bottom: 1px solid $color-secondary;
						padding: 0.5em 0em 0.6em 0em;
					}
					
					.box-header-info {
						padding: 0.6em 0em 0em 0em;
					}
				}
			}	
			
			.box-content {
				background-color: white;
			}
		}
	}
}

//otp css
#seprate {
	padding-left: 12px;
	letter-spacing: 40px;
	border: 0;
	background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
	background-position: bottom;
	background-size: 50px 1px;
	background-repeat: repeat-x;
	background-position-x: 35px;
	width: 330px;
	min-width: 330px;
	box-shadow: unset;
	font-size: 18px;
		
	@include responsive-max( screen-desktop-small ) {
		padding-left: 6px;
		letter-spacing: 20px;
		width: 205px;
		min-width: 205px;
		background-size: 30px 1px;
		background-position-x: 20px;
	}
 }

#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
	width: 300px; 
	overflow: hidden;
	margin: 0 auto;
	
	@include responsive-max( screen-desktop-small ) {
		width:175px;
	}
}

.box-file-uploader {
	
	@include responsive-max( screen-tablet-small ) {
		
		display: none ;
	}
}