.mCSB_container {
    width: 100% !important;
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar { 
    background-color: $color-secondary;
	display: none !important;
}
.mCSB_dragger_bar {
	
	display: none;
}